@model IEnumerable<Group7A2.Models.PostViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container" >
    @foreach (var item in Model)
    {
        <div class="col-md-12  jumbotron-fluid ">
            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId })
            }
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Details", "Details", new { id = item.CategoryId })
            }
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })}
            <p> @Html.DisplayFor(modelItem => item.Description)</p>
            <button class="btn btn-secondary">@Html.ActionLink("Get More", "Index", "Posts", new { id = item.CategoryId }) >></button>
        </div>
    }

</div>

@*<h2>Index</h2>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostId })
        </td>
    </tr>
}

</table>*@
