@model IEnumerable<Group7A2.Models.Category>

@{
    ViewBag.Title = "Index";
}

<div class="" id="home-landing">
    <div class="heading col-md-4 ">
        <div class="bg-primary">
            <h1 class=" text-white">Georgian College Student Forum</h1>
        </div>

    </div>

</div>



@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create A New Category", "Create")
    </p>
}

<div class="container bg-light" id="newList">
    @foreach (var item in Model)
    {
        <div class="col-md-12  jumbotron-fluid ">
            <hr />
            <h3>@Html.ActionLink(item.Name, "PostList", new { id = item.CategoryId }) </h3>

            <p><strong> @Html.DisplayFor(modelItem => item.Description) </strong></p>

            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId })
            }
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Details", "Details", new { id = item.CategoryId })
            }
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete Category", "Delete", new { id = item.CategoryId })
            }
            @foreach (var post in item.Posts)
            {
                <div class="col-md-12  jumbotron-fluid mt-5 bg-light pl-3">
                    <h4>@Html.DisplayFor(modelItem => post.Subject) </h4><p> Post on: @Html.DisplayFor(modelItem => post.PostTime) <button class="btn btn-link">@Html.ActionLink("Detail", "Details", "Posts", new { id = post.PostId }, null) >></button></p>

                </div>
            }

                
        </div>
        
    }


</div>

